<!-- <span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span> -->

<header class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
  style="background-image: url({{ site.baseurl }}/images/volcano.jpg)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/images/avatar.png" class="user-image"
          onmouseover="this.src='{{ site.baseurl }}/images/avatar-light.png';"
          onmouseout="this.src='{{ site.baseurl }}/images/avatar.png';">
        </a>
        <h1 class="panel-cover__title panel-title">{{ site.author.name }}</h1>
        <h6 class="panel-cover__title panel-subtitle">{{ site.author.pronouns }} <i class="gender-icon fas fa-mars"></i></h6>
        <nav class="cover-navigation navigation--social">
          <ul class="navigation">

            {% if site.author.email %}
            <!-- Email -->
            <li class="navigation__item">
              <a href="mailto:{{ site.author.email }}" target="_blank" title="Email">
                <i class="extra-icon iconify-inline" data-icon="fluent:mail-copy-24-filled"></i>
              </a>
            </li>
            {% endif %}

            {% if site.author.linkedin %}
            <!-- LinkedIn -->
            <li class="navigation__item">
              <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" title="LinkedIn">
                <i class="extra-icon iconify-inline" data-icon="akar-icons:linkedin-fill"></i>
              </a>
            </li>
            {% endif %}

            {% if site.author.github %}
            <!-- GitHub -->
            <li class="navigation__item">
              <a href="https://www.github.com/{{ site.author.github }}" target="_blank" title="GitHub">
                <i class="extra-icon iconify-inline" data-icon="akar-icons:github-fill"></i>
              </a>
            </li>
            {% endif %}

            {% if site.author.stackoverflow %}
            <!-- Stackoverflow -->
            <li class="navigation__item">
              <a href="https://www.stackoverflow.com/users/{{ site.author.stackoverflow }}" target="_blank" title="StackOverflow">
                <i class="extra-icon iconify-inline" data-icon="el:stackoverflow"></i>
              </a>
            </li>
            {% endif %}

            {% if site.author.hackerrank %}
            <!-- Hackerrank -->
            <li class="navigation__item">
              <a href="https://www.hackerrank.com/{{ site.author.hackerrank }}" target="_blank" title="Hackerrank">
                <i class="extra-icon iconify-inline" data-icon="cib:hackerrank"></i>
              </a>
            </li>
            {% endif %}

            {% if site.author.leetcode %}
            <!-- Leetcode -->
            <li class="navigation__item">
              <a href="https://www.leetcode.com/{{ site.author.leetcode }}" target="_blank" title="Leetcode">
                <i class="extra-icon iconify-inline" data-icon="simple-icons:leetcode"></i>
                <!-- <span class="label">Leetcode</span> -->
              </a>
            </li>
            {% endif %}

            <!-- RSS -->
            <!-- <li class="navigation__item">
              <a href="{{ site.baseurl }}/feed.xml" title="Subscribe" target="_blank">
                <i class="icon icon-rss"></i>
                <span class="label">RSS</span>
              </a>
            </li> -->

          </ul>
        </nav>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              {% for collection in site.collections %}
              {% assign topic = collection.label %}
              {% if topic != "posts" %}
              <li class="navigation__item">
                <!-- {% assign name = topic | uppercase | replace: '-', ' ' %} -->
                <a href="{{ site.baseurl }}/{{ topic }}" class="blog-button" id="{{ topic }}"
                onclick="activateButton(this.id)">{{ topic | capitalize | replace: '-', ' ' }}</a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>