<style type="text/css">
    .layered-paper-big { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
		box-shadow:
		0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
		5px 5px 0 0px #fff, /* The second layer */
		5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
		10px 10px 0 0px #fff, /* The third layer */
		10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
		15px 15px 0 0px #fff, /* The fourth layer */
		15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
		20px 20px 0 0px #fff, /* The fifth layer */
		20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
		25px 25px 0 0px #fff, /* The fifth layer */
		25px 25px 1px 1px rgba(0,0,0,0.35); /* The fifth layer shadow */
		margin-left: 10px;
		margin-right: 45px;
	}
</style>

<table align="center">
    <tr>
        <td width=200px>
            <img class="layered-paper-big" style="height:175px" src="{{ include.cover | prepend: page.slug | prepend: 'media/' }}"/>
        </td>
        <td style="vertical-align: middle;">
            <div style="text-align:left; font-size:12pt">
                <strong>{{page.title}}.</strong><br><br>
                {% for author in page.authors %}{{ author }}{% if forloop.last == false %}, {% endif %}{% endfor %}.<br><br>
                In {{include.conference}}.<br><br>
                <a href="{{ include.bibtex}} ">[Bibtex]</a>
            </div>
        </td>
    </tr>
</table>
